<% @user ||= current_user %>
  <a href="<%= following_user_path(@user) %>" class="profile_info txts">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    <span class="gray">フォロー</span>
  </a>
 <a href="<%= followers_user_path(@user) %>" class="profile_info txts">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
     <span class="gray">フォロワー</span>
  </a>