 <% if user.errors.any? %>
  <div id="error_explanation" class="error_messages">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: user.errors.count,
                 resource: user.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="error_messages_list"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>